#chats-component {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	min-height: 80vh;
	border-radius: 10px;
}

#chats-component * {
	z-index: 2;
}

#filter {
	z-index: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
}

/* chats */
#chats-container {
	margin-top: 8vh;
	min-width: 20vw;
	max-height: 65vh;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-right: 5vw;
}

.chat {
	padding: 10px;
	margin-top: 2px;
	border-bottom: 0.5px solid rgba(143, 143, 143, 0.222);
}

.chat:hover {
	cursor: pointer;
}

.chat .chat-container {
	display: flex;
}

.chat .img-container {
	display: flex;
	justify-content: center;
	border-radius: 1000px;
	padding: 2px;
	background-color: var(--primary);
}

.chat .readable {
	margin-left: 15px;
}

.chat .readable .content {
	display: block;
	width: fit-content;
	height: fit-content;
	position: relative;
	height: 100%;
	width: 100%;
}

.chat .recipient {
    font-family: 'VCR OSD Mono', monospace;
	position: absolute;
	top: 12px;
	font-size: 16px;
}

.chat .lastMessage {
	position: absolute;
	bottom: 12px;
	width: max-content;
	font-size: 12px;
	color: rgb(157, 157, 157);
	min-width: 100px;
}

.chat img {
	width: 60px;
	height: 62px;
	border-radius: 1000px;
}

#messages-container {
	position: relative;
	border-radius: 5px;
	min-width: 35vw;
}

/* recipient-data */
#recipient-data-container {
	min-height: 6vh;
	margin-top: 2vh;
}

#recipient {
	font-family: 'VCR OSD Mono', monospace;
	font-size: 22px;
}

/* messages-content-container */
::-webkit-scrollbar {
	width: 2px; 
}
  
::-webkit-scrollbar-track {
	background-color: #00000000; 
}

::-webkit-scrollbar-thumb {
	background-color: #0085f1;
	border-radius: 20px;
}

#messages-content-container {
	width: 100%;
	max-height: 60vh;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-right: 1vw;
}

.message {
	width: fit-content;
	font-family: 'VCR OSD Mono', monospace;
	padding: 12px;
	clear: both;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size: 20px;
	margin-bottom: 5px;
}

.sent {
	background-color: #0085f1;
	float: right;
	border-bottom-left-radius: 10px;
}

.received {
	background-color: rgb(115, 115, 115);
	float: left;
	border-bottom-right-radius: 10px;
}


/* input */
#input-container {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

#input-container input {
	padding: 20px 15px 20px 15px;
	border-radius: 200px;
	border: 0px solid white;
	background-color: rgba(255, 255, 255, 0.191);
	color: white;
	border: 1px solid #00adf7;
	border-style: hidden;
	font-size: 15px;
	box-shadow: 1px 1px 200px 1px #00adf75c;
	font-family: 'VCR OSD Mono', monospace;
	width: 100%;
}

#input-container input:focus {
	outline: none;
	box-shadow: 1px 1px 400px 5px var(--primary);
}


.member-button {
	border-radius: 200px;
	border: 10px solid white;
	background-color: rgba(0, 0, 0, 0.65);
	color: white;
	border: 1px solid #00adf7;
	outline: none;
	border-style: hidden;
	font-size: 13px;
	box-shadow: 1px 1px 200px 1px #00adf75c;
	font-family: 'VCR OSD Mono', monospace;
	width: 50%;
    margin-left: 10px;
	margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
  }

  .member-button:hover {
	cursor: pointer;
	background-color: #d101c0;
	transition: background-color 0.3s ease;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
	outline: none;
	box-shadow: 1px 1px 400px 5px var(--primary);
  }
/*  members-container */
#members-container {
	min-width: 15vw;
	margin-top: 8vh;
}

/*  members-container */
#admins-container {
	min-width: 15vw;
	margin-top: 8vh;
}