.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 20px;
}

.user-card {
  background-color: var(--card-color);
  border-radius: 16px;
  padding-block: 12px;
  padding-inline: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

#gold {
  background-color: #FFD700;
}

#silver {
  background-color: #C0C0C0;
}

#bronze {
  background-color: #BF8970;
}

.rank {
  font-family: 'VCR OSD Mono', monospace;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(40, 40, 40);
  border-radius: 50%;
  transition: border-radius .2s ease;
}

.rank:hover {
  border-radius: 8px;
}

.rank span {
  font-size: 4rem;
  color: black;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin: 24px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 8px;
}

.profile h2 {
  font-size: 2.5rem;
  color: rgb(233, 233, 233);
}

.profile img {
  width: 120px;
  height: 120px;
  border-radius: 8px;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

.stats span {
  font-size: 2.5rem;
}

.win-count {
  color: var(--primary);
}

.divider {
  color: rgb(80, 80, 80);
}

.loss-count {
  color: rgb(80, 80, 80);
}

/* Small */
@media only screen and (min-width: 576px) {
  .grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Medium */
@media only screen and (min-width: 768px) {
  .grid-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Large */
@media only screen and (min-width: 992px) {

}

/* Extra large */
@media only screen and (min-width: 1200px) {
  .grid-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Extra extra large */
@media only screen and (min-width: 1440px) {
  .grid-wrapper {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 40px;
  }
}

/* Extra extra extra large */
@media only screen and (min-width: 1600px) {

}
