.alert {
	width: 500px;
	background-color: #c32f2f;
	padding: 15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
	box-shadow: 2px 2px 200px 50px #390005;
	font-family: 'VCR OSD Mono', monospace;
}